* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
}

.contenedor1 {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}


.titulos {
    background-color: darkgray;
    color: rgb(12, 12, 242);
    border: 3px;
    padding: 10px;
    font-size: 30px;   
    margin: 5px;
    text-align: center;
    

} 

.titulos:hover {
    background-color: aqua;
    color: rgb(7, 7, 10);
}

.navegador {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
}

.Botonazul {
    background-color: blue;
    height: 50px;
    text-align: center;
    padding: 3px;
    color: yellow;
    font-size: 25px;
    

}

.Botonazul:hover {
    background-color: yellow;
    color: blue;
}

#encabezado {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    background-color: rgb(220, 190, 23);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-style: italic
    ;
}


#articulo1 {

    color: black;
    background-color: deeppink;
    font-size: larger;
    text-align: justify;
    margin: 5px;


}

#articulo2 {
    background-color: rgb(153, 231, 17);
    color: indigo;
    font-size: medium;
    text-align: left;
    margin: 5px;
    text-transform: lowercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

#info {
    font-size: small;
    display: flex;
    justify-content: center;
    color: rgb(27, 11, 198);
    background-color: cornsilk;
    border: 3px solid cornflowerblue;

}

.Redes1 {
    display: flex;
    justify-content:  space-around;

}

.link { 
    background-color: blue;
    color: cyan;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
